<?xml version='1.0' encoding='utf-8'?>
 
<!-- ################################################################## -->
<!-- ## Tomcat 7.0.79                                                   -->
<!-- ## Configuration File version                                      -->
<!-- ## Author :                                                        -->
<!-- ## History :                                                       -->
<!-- ################################################################## --> 

<Server port="${shutdown.bind.port}" shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.startup.VersionLoggerListener" /> 
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" /> 
  <Listener className="org.apache.catalina.core.JasperListener" /> 
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
 
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
 
     <Resource name="jdbc/sample" auth="Container"
               type="javax.sql.DataSource" 
               driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://127.0.0.1:3306/testdb" 
               username="testdb" password="testdb"
               maxActive="10"
               maxIdle="10"
               minIdle="10"
               maxWait="30000"
               validationQuery="SELECT 1"
               testWhileIdle="true"
               timeBetweenEvictionRunsMillis="10000"
     /> 
  </GlobalNamingResources>
 
  <Service name="Catalina">

     <Executor name="tomcatThreadPool" namePrefix="catalina-exec-"
        maxThreads="200" minSpareThreads="25"/>

     <Connector executor="tomcatThreadPool"
               port="${http.bind.port}"
               protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="${https.bind.port}"
               URIEncoding="${server.encoding}"
               useBodyEncodingForURI="true"
               server="empty"
               maxPostSize="-1"
               />

    <Connector executor="tomcatThreadPool"
               port="${ajp.bind.port}"
               protocol="AJP/1.3"
               connectionTimeout="600000"
               redirectPort="${https.bind.port}"
               URIEncoding="${server.encoding}"
               useBodyEncodingForURI="true"
               server="empty"
               maxPostSize="-1"
               />

    <Connector port="${management.bind.port}"
               protocol="HTTP/1.1"
               connectionTimeout="5000"
               />

    <Engine name="Catalina" defaultHost="localhost" jvmRoute="${server.name}">
 
      <Realm className="org.apache.catalina.realm.LockOutRealm"> 
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase" digest="sha"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <!-- application Directory
        <Context path="/" docBase="${application.dir}" allowLinking="true">
               <ResourceLink global=“jdbc/sample” name=“jdbc/sample”
                               type=“javax.sql.DataSource” />
        </Context>
        -->

        <Valve className="org.apache.catalina.valves.AccessLogValve"
               directory="${catalina.base.log}/access/" prefix="${server.name}_access." suffix=".log"
               pattern="%{X-Forwarded-For}i %h %l %u %t &quot;%r&quot; %s %b &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot;" 
               resolveHosts="false" fileDateFormat="yyyy-MM-dd-HH"/>

        <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve"
               threshold="30" />  

      </Host>
    </Engine>
  </Service>
</Server>
